section{
    padding: 100px 0;
    .col-lg-12{
        @extend .flex-div;
        text-align: center;
    }
}
.sec1{
    .col-par{
        p{
            width: 78%;
            text-align: center;
            margin: 30px auto;
        }
        button{
            @extend .primary-btn;
            padding: 10px 35px;
            a{
                color: $secondary;
                text-decoration: none;
            }
        }
    }
}
