.sec2{
    .row{
        margin-bottom: 20px;
        .col-lg-6:first-child{
            padding-left: 230px;
        }
        .col-lg-6{
            padding: 0;
            span,h4{
                font-size: 22px;
                font-family: poppins-bold;
            }
            h4{
                font-family: poppins-bold;
            }
            p{
                line-height: 18px;
            }
        }
    }
}
@media all and (max-width:991px){
    .sec2{
        .row{
            margin-bottom: 60px;
            text-align: center;
            .col-lg-6:first-child{
                padding-left: 0;
                margin-bottom: 20px;
            }
        }
    }
}
